.header-container {
  padding: 10px;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 10px; /* space between button and text */
  margin: 0;
}
span{
   padding: 20px;
}
.upload-container { padding: 10px; border: 1px solid #ccc; width: 350px; }
.preview { margin-top: 10px; }
