<div class="view-container">
  <div class="header-container">
    <button (click)="backsummary()">Back</button>
    <span>Users Summary</span>
    <div *ngIf="name">Wasim</div>
</div>
    <app-dynamic-grid
    [columns]="columns"
    [dataSourceInput]="[user()]"
    (contextActionClick)="onGridAction($event)"
    ></app-dynamic-grid>
</div>
<!-- Search input and button -->
<input type="text" [(ngModel)]="searchText" placeholder="Search by name" />
<button (click)="onSearch()">Search</button>


<!-- Styled table with good borders -->
<table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
  <thead>
    <tr style="background-color: #f2f2f2;">
      <th style="border: 1px solid #ccc; padding: 8px;">ID</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Name</th>
    </tr>
  </thead>
  <tbody>
    @for (user of filterData; track user.id) {
      <tr>
        <td style="border: 1px solid #ccc; padding: 8px;">{{ user.id }}</td>
        <td style="border: 1px solid #ccc; padding: 8px;">{{ user.name }}</td>
      </tr>
    }
  </tbody>
</table>
<div class="upload-container">
      <input type="file" (change)="onFileSelected($event)" accept=".pdf,image/*" />
      
      <div *ngIf="filePreview" class="preview">
        <ng-container *ngIf="fileType === 'image'; else pdfBlock">
          <img [src]="filePreview" width="200" />
        </ng-container>
        <ng-template #pdfBlock>
          <embed [src]="filePreview" type="application/pdf" width="300" height="200" />
        </ng-template>
      </div>

      <button (click)="uploadFile()" [disabled]="!selectedFile">Upload</button>
    </div>

<!-- 
<app-table [colArray]="columnArray"></app-table> -->